<h1>Voici la page About de notre groupe </h1>

<p>rien a dire !</p>

<p>Voici la page de  <a href="/about/florian">florian</a></p>
<p>Voici la page de  <a href="/about/steven">steven</a></p>
<p>Voici la page de  <a href="/about/luxin">Luxin</a></p>
